{% extends 'speed_checker/base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
    <h1>        
        No.{{ pokemon.id }}　名前：{{ pokemon.name }}
    </h1>
    <h2>        
        <div>
            タイプ1
            <span class="type"> {{ pokemon.types.0.type.name }}</span>
            {% if pokemon.types.1.type.name %}
            タイプ2
            <span class="type"> {{ pokemon.types.1.type.name }}</span>
            {% endif %}
        </div>
        <div>
            <input type="hidden" id="pokemon_type_0" name="pokemon_type_0" value="{{ pokemon.types.0.type.name }}">
            <input type="hidden" id="pokemon_type_1" name="pokemon_type_1" value="{{ pokemon.types.1.type.name }}">
        </div>
        <script type="text/javascript" src="{% static 'js/type-color-set.js' %}" ></script>
    </h2>
    <h3>
        高さ：{{ pokemon.height | mul:0.1 | floatformat:1 }}m　重さ：{{ pokemon.weight | mul:0.1 | floatformat:1 }}kg

        <p span class="status">
            <span id="status_h" value="{{ pokemon.stats.5.base_stat }}">H：{{ pokemon.stats.5.base_stat }}</span>
            <span id="status_a" value="{{ pokemon.stats.4.base_stat }}">A：{{ pokemon.stats.4.base_stat }}</span>
            <span id="status_b" value="{{ pokemon.stats.3.base_stat }}">B：{{ pokemon.stats.3.base_stat }}</span>
            <span id="status_c" value="{{ pokemon.stats.2.base_stat }}">C：{{ pokemon.stats.2.base_stat }}</span>  
            <span id="status_d" value="{{ pokemon.stats.1.base_stat }}">D：{{ pokemon.stats.1.base_stat }}</span>
            <span id="status_s" value="{{ pokemon.stats.0.base_stat }}">S：{{ pokemon.stats.0.base_stat }}</span>
        </p span>

        <div>
            特性
                {% for ability in pokemon.abilities %}
                    <span>{{ ability.ability.name }}</span>
                {% endfor %}
        </div>
    </h3>
{% endblock %}

{% block content2 %}
<script type="text/javascript" src="{% static 'js/speed-calculate.js' %}" ></script>
<form method="GET" name="status_form">
    個体値
    <select size="1" name="individual" onchange="getSpeed('{{ pokemon.stats.0.base_stat }}')">
        {% for i in individual_range %}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
        <option value=31 selected>31</option>
    </select>
    努力値
    <select id="effort_value" name="effort_value" size="1" onchange="getSpeed('{{ pokemon.stats.0.base_stat }}')">
        {% for i in effort_range %}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
        <option value="252" selected>252</option>
    </select><br>    
    実数値（Lv50)
    <output id="speed_value_output" name="speed_value_output"></output><br>
</form>
{% endblock %}
